:root {
    --active-color: #b758ff;
  }

#raid-description {
    margin:auto;
    text-align: center;
    font-family: 'Pixel';
    width: 65%;
    font-size: 1.4vw !important;
    line-height: 1.6vw !important;
}

h2 {
    letter-spacing: 1px;
	/* color: #F5CD03 !important; */
    color: #b89326;
}

svg#logo {
    margin: 0 !important;
}

#raid-balances {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.raid-balance-container {
    padding: 10px;
    margin-bottom: 10px;
    width: 39vw;
}

.raid-balance-container button {
    width: 75%;
    font-size: 1.5vw !important;
    line-height: 1.5vw !important;
}    

#your-raid-container {
    margin-right: 2vw;
}

#your-warrior-section {
    width:80vw;
    margin: auto;
    text-align: center;
    min-height:40vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

.staking-section {
    width: 45%;
    margin: 2.5%;
}

#available-warrior-images, #staked-warrior-images {
    border: solid .3vw white;
    border-radius: 2px;
    height: 50vh;
    overflow-y: scroll;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.your-warrior {
    width: 25%;
    font-size: 1.3vw;
    margin: 10px;
    transition: transform ease 300ms;
}

.your-warrior svg {
    margin: 5px;
}

.warrior-id, .raid-earned {
    color: white;
    margin-bottom: 0px;
    text-align: center;
  }
  
.your-warrior:hover {
    transform: translate(0, -5px);
}

.your-warrior:hover .warrior-id, .your-warrior:hover .raid-earned {
    color: var(--active-color) !important;
}

.your-warrior:hover svg {
    border: solid .25vw var(--active-color);
    cursor: pointer;
}
  
.active svg {
    border: solid .25vw var(--active-color);
}

.active svg, .active p{
    color: #21D5A7 !important;
}

.selected {
    color: white;
    font-size: 2vw !important;
    line-height: 2vw !important;
}

.active svg, .active p{
    border-color: var(--active-color);
    color: var(--active-color) !important;
}

.warrior-id {
    text-align: center;
    margin-top: 5px;
}

.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}
  
.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}
  
.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}
  
@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.stake-buttons button {
    width: 38%;
    font-size: 1.5vw !important;
    line-height: 1.5vw !important;
}

@media screen and (max-width: 991px) {

    .stake-buttons button {
        width: 48%;
    }


    #raid-description {
        margin:auto;
        text-align: center;
        width: 95%;
        font-size: 2.5vh !important;
        line-height: 2.9vh !important;
    }

    h2 {
        font-size: 4.1vh !important;
        line-height: 4.1vh !important; 
    }

    h3 {
        font-size: 3.7vh !important;
        line-height: 3.7vh !important; 
    }

    .select-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .selected {
        font-size: 3.7vh !important;
        line-height: 3.7vh !important;
    }

    .raid-balance-container {
        width: 95vw;
    }

    .raid-balance-container h2 {
        font-size: 3vh;
    }    

    .raid-balance-container .btn {
        width: 95%;
        font-size: 3.7vh !important;
        line-height: 3.7vh !important;
        padding: 20px;
    }    

    #your-raid-container {
        margin-right: initial;
    }

    #your-warrior-section {
        width:95vw;
        min-height: 0;
        margin: auto;
        display: block;
    }

    .staking-section {
        width: 95%;
        margin: 2.5%;
    }

    #staked-warriors-wrapper {
        margin-top: 30px;
    }

    .stake-buttons .btn {
        font-size: 3.7vh !important;
        line-height: 3.7vh !important;
        width: 100%;
    }

    #stakeAllButton, #unstakeallButton {
        margin-top: 10px;
    }

    #available-warrior-images, #staked-warrior-images {
        width: 100%;
        border-width: 5px;
        height: 60vh;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .box3 {
        padding: 20px;
    }

    .your-warrior {
        width: 41%;
    }

    .warrior-id, .raid-earned {
          font-size: 3vh;
          line-height: 3.2vh;
    }

    .active svg {
        border: solid 3px #21D5A7;
    }

    .your-warrior:hover svg {
        border: solid 3px #21D5A7;
        cursor: pointer;
    }
      
    .active svg {
        border: solid 3px #21D5A7;
    }
}